.photos__like {
    margin: 0;
    padding: 0;
    background-image: url('../../../images/heart.svg');
    width: 21px;
    height: 19px;
    border: white;
    background-color: transparent;
    outline: none;
}

.photos__like:hover {
    opacity: 0.6;
}

.photos__like:active {
    background-image: url('../../../images/heart-active.svg');
    opacity: 1;
}