.popup__close {
    transform: rotate(45deg);
    position: absolute;
    width: 40px;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 420px) {
    .popup__close {
        width: 26px;
        right: 0;
        top: -39px;
    }
}